/* Fira Sans Font */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}

/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

.fcolor {
    background-color: #f5f5f5;

}

h2 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

h3 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

h5 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
    cursor: pointer;
}

/* Header CSS */
.container {
    height: 560px;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    margin-left: 80px;
    margin-right: 80px;
}

.info {
    max-width: 622px;
    margin-right: 64px;
}

.info h4 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.info h1 {
    color: rgb(14, 14, 14);
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.hero-image img {
    width: 474.03px;
    height: 329.21px;
}

/* Vision CSS */
.card-box {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.vision p {
    margin-top: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.each-card {
    background: rgba(84, 144, 245, 0.2);
    width: 410px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24;
    margin: 32px 0;
}

.card-icon img {
    width: 49.66px;
    height: 53.09px;
}

.each-card h5 {
    margin: 12px 0;
}

.each-card p {
    margin: 12px 0;
}

#c-color2 {
    background: rgb(198, 228, 214);
}

#c-color3 {
    background: rgb(247, 235, 207);
}

#cbtn1 {
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
}

#cbtn2 {
    background: rgb(9, 161, 92);
    padding: 11px 20px 11px 20px;
}

#cbtn3 {
    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
}

/* Quote CSS */
.quote {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 1% 20%;
    padding: 48px 24px 48px 24px;
}

.main-quote {
    margin: 12px 0;
    color: rgba(14, 14, 14, 0.8);
    /* background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 50px 50px; */
}

.quote h5 {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
}

.designation {
    margin: 4px 0;
    color: rgba(14, 14, 14, 0.6);
}

/* Recent News CSS */
.recent-news-container {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.recent-info p{
    margin: 32px 0;
}

.each-recent-news {
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.recent-mimage img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.recent-texts > img {
    width: 134px;
    height: 40px;
}

.recent-datetime {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.recent-datetime time {
    margin-right: 12px;
}

.recent-texts p {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
}

.recent-texts .btn {
    margin: 32px 0px;
    padding: 13px 26px;
}

/* DONATE CSS */
.donate-container{
    margin-top: 42px;
    margin-bottom: 80px;
}

.donate-info h2{
    text-align: center;
}

.donate-info p{
    text-align: center;
    margin: 32px 0;
}

.taka{
    display: flex;
    justify-content: center;
    align-items: center;
}

.taka p{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0px 24px;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.taka > p:hover{
    background: rgb(198, 228, 214);
}

.another-amount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
}

#other-amount{
    padding: 20px 40px 20px 40px;
    width: 1032px;
    text-align: center;
    border: none;
    margin: 32px 0;
}